*{
    padding: 0;
    margin: 0 ;
    font-family: Gilroy-Bold;
    box-sizing: border-box;
}



.header{
    padding-bottom: 40px;
}

h2{
    font-size: 34px;
}

h3{
    font-size: 18px;
}


header {
    padding-top: 33px;
}

ul.navmenu {
    display:flex ;
    justify-content: space-between;
    list-style-type: none;
}

ul.navmenu li {
    display: inline-block;
    font-size: 18px ;
    color: #070707; 
}

ul.navmenu a {
    display: inline-block;
    font-size: 18px ;
    color: #828282; 
}

img{
   max-width: 100%;
}

.open_menu{
    display: none;
}

.introimg{
    width: 100%;
}


.center{
    text-align: center;
}

.section1{
    padding-bottom:105px ;

}

.unnavmenu{
    display: flex;
    padding-bottom:20px ;
    align-items: end;
   
}
.unnavmenu-child2 p{
    margin-bottom: 0px;
    
}

.unnavmenu-child4{
    display: flex;
    justify-content: flex-end;
}

.unnavmenu-child3{
    position: relative;
    list-style-type: none;
    width: 0px;
    white-space: nowrap;
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
}
.RE{
color:#828282 ;
}
.ENG{
color:#000000
;
}


.section2{
    padding-top:120px ;
    padding-bottom:110px ;
    background-color: #F6F6F6;
}

.section2 h2{
    line-height: 42px;
}

.texts2{
    line-height: 22px;
    font-size: 18px;
}


.section3{
    padding-top: 90px;
    padding-bottom:105px ;

}

.section3 h2{
    padding-bottom:70px;
}

.texts3{
    padding-bottom: 83px ;
}

.section4{
    padding-top: 110px;
    background-color: #F6F6F6;
}

.section4 h2{
    padding-bottom: 43px;
}

.section5{
    padding-bottom:43px ;
    background-color: #F6F6F6;
}

.section5 h3{
    padding-top: 43px;
    padding-bottom: 99px;
}

.section6{
    padding-bottom:100px ;
    background-color: #F6F6F6;
}

.section6 h3{
    padding-top: 45px;
}

.footer{
    padding-top: 110px;
}

ul.socmenu {
    padding-top: 85px;
    padding-bottom: 45px;
    display:flex;
    justify-content:center;
    column-gap: 60px ;
    
    list-style-type: none;
}




footer button{
    width:180px ;
    height: 42px;
    background-color: black;
    color: white;
    border-radius: 21px ;
    font-size: 18px;

}




/* header>div>div>nav>ul>li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0px 10px;
    margin: 0px;
}

header>div>div>nav>ul {
    text-align: center;
    display: table;


1rem:16px

}*/