@media only screen and (max-width:1200px){
    
}

@media only screen and (max-width:992px){

}

@media only screen and (max-width:768px){
    .open_menu{
        display: block;
        width: 40px;
    }
    ul.navmenu{
        display: none;
    }

    ul.navmenu {
        display:flex ;
        justify-content: space-between;
        list-style-type: none;
    }
    
    ul.navmenu li {
        display: inline-block;
        font-size: 18px ;
        color: #070707; 
    }
    
    ul.navmenu a {
        display: inline-block;
        font-size: 18px ;
        color: #828282; 
    }

    .section2{
        padding-top:80px ;
        padding-bottom:80px ;
    }

    .section3{
        padding-top:80px ;
        padding-bottom:80px ;
    }

    .section3 h2{
        padding-bottom:40px;
    }

    .texts3{
        padding-bottom: 30px ;
    }

    .imgps{
        padding-bottom: 30px;
    }

    .imgAi{
        padding-bottom: 30px;
    }

    .section4{
        padding-top:80px ;
        padding-bottom:80px ;
    }

    .section5{
        padding-top:0px ;
        padding-bottom:0px ;
    }

    .section6{
        padding-top:0px ;
        padding-bottom:80px ;
    }

    .footer{
        padding-top: 40px;
    }

    ul.socmenu{
        padding-top: 40px;
    }
}
